:root {
    --main-color-white: #F9F7F7;
    --main-color-black: #56575A;
    --main-color-blue: #1565C0;
    --main-color-indigo: #283593;
    --main-color-red: #D84315;
    --main-color-gray-100: #f5faffb4;
    --main-color-gray-200: #e1e6f7;
    --main-color-gray-300: #797979;
    --main-color-gray-400: #363636;
    --main-color-gray-500: #2c2c2c;
    --main-color-gray-600: #212121;
    --main-gradient: #F9F7F7;
    --main-gradient-black: #56575A;
    --content-width: 1040px;
    --container-offset: 15px;
    --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
    --font-size: 16px;
    --font-light: 300;
    --font-regular: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
    --font-family: "Inter";
    --rounded-sm: 5px;
    --rounded-md: 10px;
    --rounded-xl: 15px;
    --rounded-xxl: 20px;
    --transition-1: all 100ms ease-in-out;
    --transition-2: all 200ms ease-in-out;
    --transition-3: all 300ms ease-in-out;
    --header-color: linear-gradient(180deg, rgba(219, 226, 239, 1) 0%, rgba(219, 226, 239, 0) 100%);
}

[data-theme=dark] {
    --background-white: var(--main-color-black);
    --background-black: var(--main-color-white);
    --background-body: var(--main-color-gray-600);
    --background-block: var(--main-color-gray-500);
    --background-block-secondary: var(--main-color-gray-400);
    --color-primary: var(--main-color-red);
    --color-text: var(--main-color-gray-200);
    --color-text-secondary: var(--main-color-gray-300);
    --box-shadow: 0 3px 10px rgba(0, 0, 0, 0.349);
    --header-color: linear-gradient(180deg, rgba(219, 226, 239, 1) 0%, rgba(219, 226, 239, 0) 100%);
    --background-gradient: var(--main-gradient-black);
}

[data-theme=light] {
    --background-white: var(--main-color-white);
    --background-black: var(--main-color-black);
    --background-body: var(--main-color-gray-100);
    --background-block: var(--main-color-white);
    --background-block-secondary: var(--main-color-gray-200);
    --color-primary: var(--main-color-blue);
    --color-text: var(--main-color-gray-600);
    --color-text-secondary: var(--main-color-gray-300);
    --box-shadow: 0 3px 10px rgba(211, 216, 253, 0.637);
    --header-color: linear-gradient(180deg, rgba(219, 226, 239, 1) 0%, rgba(219, 226, 239, 0) 100%);
    --background-gradient: var(--main-gradient);
}